@model WebApp.ViewModels.StartPageViewModel
@{
    ViewData["Title"] = "Index";
}
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>

    body {
        font-family: 'Roboto', sans-serif;
        margin: 0% auto !important;
        padding: 0% !important;
        background: none;
    }

    .modalDialog, .modalDialog2, .modalDialog3 {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        display: none;
        pointer-events: none;
        max-height: 100%;
        overflow-y: auto;
    }

        .modalDialog:target, .modalDialog2:target, .modalDialog3:target {
            display: block;
            pointer-events: auto;
        }

        .modalDialog > div, .modalDialog2 > div, .modalDialog3 > div {
            width: 600px;
            position: relative;
            margin: 10% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: #fff;
            background: -moz-linear-gradient(#fff, #999);
            background: -webkit-linear-gradient(#fff, #999);
            background: -o-linear-gradient(#fff, #999);
        }

    .close, .close2, .close3 {
        background: #ff0000;
        color: #fff;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

        .close:hover, .close2:hover, .close3:hover {
            background: #00d9ff;
        }

    .section:hover {
        cursor: pointer;
        color: slategrey;
    }

    #preview {
        max-height: 150px;
        min-height: 150px;
        max-width: 220px;
        min-width: 220px;
    }



    li {
        list-style-type: none;
    }

    .listOfNews {
        margin-bottom: 6px;
        font-size: 18px;
    }

    .date {
        color: #999;
        font-size: 16px;
    }

    hr {
        margin-top: 30px;
        margin-bottom: 0%;
        border: 1.5px solid #eeeeef;
    }

    .stripe {
        width: 33%;
        height: 30px;
        background-color: rgba(41, 79, 209, 0.70);
        float: left;
        margin-right: 80px;
        margin-bottom: 30px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-align: right;
        font-weight: 500;
        letter-spacing: 3px;
    }

    .decorator {
        width: 35%;
        height: 30px;
        border-top: 30px solid rgb(41, 79, 209);
        border-right: 15px solid transparent;
    }



    li {
        list-style-type: none;
    }

    .date {
        color: #414141;
        font-size: 16px;
    }

    hr {
        margin-top: 30px;
        margin-bottom: 0%;
        border: 1.5px solid #eeeeef;
    }

    .stripe {
        width: 33%;
        height: 30px;
        background-color: rgba(41, 79, 209, 0.70);
        float: left;
        margin-right: 80px;
        margin-bottom: 30px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-align: right;
        font-weight: 500;
        letter-spacing: 3px;
    }

    .decorator {
        width: 35%;
        height: 30px;
        border-top: 30px solid rgb(41, 79, 209);
        border-right: 15px solid transparent;
    }

    .container-fluid {
        margin: 0% auto;
        padding: 0%;
    }

    img {
        background-size: cover;
    }

    .clear {
        clear: both;
    }

    .projImg {
        width: 312px;
        height: 200px;
    }

    .projects {
        height: 370px;
        overflow: auto;
    }

    .videoBlock {
        background: rgb(245, 246, 247);
    }

    .video-el {
        margin-bottom: 20px;
        font-size: 18px;
        text-align: center;
    }

    .center-el {
        text-align: center;
    }

    .text-size {
        font-size: 20px;
        color: #161A1E;
        text-transform: uppercase;
        font-weight: 500;
        margin-top: 15px;
    }

    .video {
        width: 450px !important;
        height: 300px !important;
    }

    .backGr {
        box-shadow: -5px 0 5px -5px #333, 5px 0 5px -5px #333;
    }
    .title {
        background: rgba(214, 233, 255, 0.27);
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 300px;
        color: black;
        border-radius: 10px;
    }
    .date {
        color: #999;
        font-weight: 300;
        font-size: 15px;
        float: right;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 backGr">
            <h2>Видео</h2>
            <div class="center-el video-el">
                <div class="row">
                    <br />
                    @foreach (var vid in Model.IndexViewModel.Videos)
                    {
                        <br />
                        <div class="row">
                            <div class="col-lg-6">
                                @Html.Raw(@vid.VideoFile)
                                @if (User.IsInRole("Administrator"))
                                {
                                    <a class="btn btn-default" href='@Url.Action("DeleteVideo", "Video", new { id = @vid.Id }, null)'>Удалить видео</a>
                                }
                            </div>
                            <div class="col-lg-6 title">
                                <div class="title-video">
                                    @vid.Text
                                    <br />
                                    <hr />
                                    <br />
                                    <p class="date">@vid.Day @vid.Month @vid.Year</p>
                                </div>
                            </div>
                        </div>
                        <br />
                        <hr />
                    }
                    @if (Model.IndexViewModel.VideosPageInfo.HasPreviousPage)
                    {
                        <a asp-action="Index"
                           asp-route-page="@(Model.IndexViewModel.VideosPageInfo.PageNumber - 1)"
                           class="btn btn-block">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                        </a>
                    }
                    @if (Model.IndexViewModel.VideosPageInfo.HasNextPage)
                    {
                        <a asp-action="Index"
                           asp-route-page="@(Model.IndexViewModel.VideosPageInfo.PageNumber + 1)"
                           class="btn btn-block">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('iframe').attr('width', '450');
            $('iframe').attr('height', '300');
        });

    </script>
}