@model WebApp.ViewModels.StartPageViewModel
@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
<link href="~/css/site.css" rel="stylesheet" />
<style>
    body {
        margin: 0% auto !important;
        padding: 0% !important;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #161A1E;
    }

    .row {
        margin: 0% auto !important;
        padding: 0% !important;
    }

    .col-lg-12 {
        margin: 0% auto !important;
        padding: 0% !important;
    }

    .container {
        margin: 0% auto !important;
        padding: 0% !important;
    }

    .container-fluid {
        margin: 0% auto !important;
        padding: 0% !important;
    }

    .modalDialog, .modalDialog2, .modalDialog3 {
        position: fixed;
        font-family: 'Roboto', sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        display: none;
        pointer-events: none;
        max-height: 100%;
        overflow-y: auto;
    }

        .modalDialog:target, .modalDialog2:target, .modalDialog3:target {
            display: block;
            pointer-events: auto;
        }

        .modalDialog > div, .modalDialog2 > div, .modalDialog3 > div {
            width: 600px;
            position: relative;
            margin: 10% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: #fff;
            background: -moz-linear-gradient(#fff, #999);
            background: -webkit-linear-gradient(#fff, #999);
            background: -o-linear-gradient(#fff, #999);
        }


    .close, .close2, .close3 {
        background: #ff0000;
        color: #fff;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

        .close:hover, .close2:hover, .close3:hover {
            background: #00d9ff;
        }

    .section:hover {
        cursor: pointer;
        color: slategrey;
    }

    .title:hover {
        cursor: pointer;
        color: slategrey;
    }

    #preview {
        max-height: 110px;
        min-height: 110px;
        max-width: 170px;
        min-width: 170px;
    }

    #preview2 {
        max-height: 110px;
        min-height: 110px;
        max-width: 170px;
        min-width: 170px;
    }

    #preview3 {
        max-height: 90px;
        min-height: 90px;
        max-width: 140px;
        min-width: 140px;
    }

    li {
        list-style-type: none;
    }

    .listOfNews {
        margin-bottom: 6px;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
    }

    .fbdate {
        color: #999;
        font-weight: 300;
        font-size: 14px;
        display: inline;
    }

    .date {
        color: #999;
        font-weight: 300;
        font-size: 15px;
    }

    hr {
        margin-top: 30px;
        margin-bottom: 0%;
        border: 1.5px solid #eeeeef;
    }

    .stripe {
        width: 33%;
        height: 27px;
        background-color: rgb(23, 175, 240);
        float: left;
        margin-right: 80px;
        margin-bottom: 20px;
        padding-top: 2px;
        color: rgb(255, 255, 255);
        font-size: 18px;
        text-align: right;
        font-weight: 500;
        letter-spacing: 3px;
        font-family: 'Roboto', sans-serif;
    }

    .decorator {
        width: 35%;
        height: 27px;
        border-top: 30px solid rgb(23, 175, 240);
        border-right: 15px solid transparent;
    }

    .brandHeader {
        background: linear-gradient(180deg, rgb(1, 141, 255), rgb(101, 206, 255));
        height: 75px;
    }

    .brandHeader {
        background: linear-gradient(180deg, rgb(0, 0, 0), rgb(41, 42, 51));
        height: 75px;
    }

    .container-fluid {
        margin: 0% auto;
        padding: 0%;
    }

    .last-news {
        margin: 5px 0px 25px;
        font-size: 25px;
        color: #414141;
    }

    .newsBlock {
        margin-bottom: 23px;
        font-size: 16px;
    }

    .myslider {
        max-height: 590px;
        min-height: 590px;
        width: 100%;
    }



    .center {
        text-align: center;
    }

    img {
        background-size: cover;
    }

    .clear {
        clear: both;
    }

    .backGr {
        background-size: contain;
        background-position: 50% 50%;
    }

    .faceBook {
        padding-top:5px;
        padding-left:3px;
        background: rgb(250, 252, 255);
        border: 1px solid rgba(164, 164, 164, 0.33);
        font-size: 16px;
        overflow: hidden;
        font-weight:300;
        font-family: 'Roboto', sans-serif;
        line-height:110%;
    }

    .post {
        font-size: 16px;
        color: #424242;
        font-weight: 300;
        padding: 5px;
        max-height: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: start;
        white-space: normal;
    }

    .profile {
        max-height: 80px;
        min-height: 80px;
        max-width: 80px;
        min-width: 80px;
        border-radius: 50px;
    }

    .photo {
        float: left;
        margin-right: 5px;
    }

    .icon {
        max-height: 20px;
        min-height: 20px;
        max-width: 20px;
        min-width: 20px;
        margin-left: 5px;
    }

    .fbName {
        font-size: 16px;
        font-weight:500;
        color: black;
        display: inline;
    }

    .blackWraping {
        position: absolute;
        left: 40px;
        bottom: 4px;
        /* width: 87%; */
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
        line-height: 33px;
        color: #FEFEFE;
        font-size: 18px;
        font-weight: 500;
        z-index: 3;
        background: rgba(0,0,0,.5);
        padding: 10px;
        max-width: 85%;
    }

    .targets {
        float: left;
        margin-right: 20px;
        color: #034EA1;
        width: 11px;
        height: 11px;
        border: 2px solid #4d56b0;
        border-radius: 50%;
        margin: 4px;
        display: inline-block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
    }

    .targetsBlock {
        position: absolute;
        display: inline-block;
        left: 10px;
        bottom: 12px;
        z-index: 3;
        width: 10px;
    }

    .targets2 {
        float: left;
        margin-right: 20px;
        color: #034EA1;
        width: 11px;
        height: 11px;
        border: 2px solid #4d56b0;
        border-radius: 50%;
        margin: 4px;
        display: inline-block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
    }

    .targetsBlock2 {
        position: absolute;
        display: inline-block;
        left: 10px;
        bottom: 12px;
        z-index: 3;
        width: 10px;
    }

    .fixTop {
        margin-top: -19px !important;
    }

    .projImg {
        width: auto;
        height: auto;
    }

    .projImg {
        width: 280px;
        height: 200px;
        margin-bottom: 10px;
    }

    .projects {
        height: 400px;
        overflow: hidden;
        font-size: 16px;
    }

    .videoBlock {
        background: rgb(250, 252, 255);
    }

    .video-el {
        margin-top: 30px;
        font-size: 16px;
    }

    .center-el {
        text-align: center;
    }

    .text-size {
        font-size: 18px;
        color: #161A1E;
        text-transform: uppercase;
        margin-top: 15px;
    }

    .video {
        width: 600px !important;
    }

    .slider__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 400%;
        -webkit-transition: left 0.4s;
        transition: left 0.4s;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }

    *, *:before, *:after {
        box-sizing: border-box;
    }

    html, body {
        height: 100%;
    }

    .slider {
        width: 100%;
        height: 430px;
        position: relative;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .slider__nav {
        height: 14px;
        width: 14px;
        border-radius: 50%;
        z-index: 10;
        outline: 6px solid #ccc;
        outline-offset: -6px;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

        .slider__nav:checked {
            -webkit-animation: check 0.4s linear forwards;
            animation: check 0.4s linear forwards;
        }

            .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
                left: 0%;
            }

            .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
                left: -100%;
            }

            .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
                left: -200%;
            }

            .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
                left: -300%;
            }

    a {
        color: black;
    }

        a:hover {
            color: black;
        }

    .form-group {
        margin: 0% auto;
        padding: 0%;
    }
</style>

<div id="myCarousel" class="carousel slide fixTop" data-ride="carousel">

    <div class="targetsBlock">
        <div class="targets" data-target="#myCarousel" data-slide-to="0"></div>
        <div class="targets" data-target="#myCarousel" data-slide-to="1"></div>
        <div class="targets" data-target="#myCarousel" data-slide-to="2"></div>
    </div>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="backGr" style="background-image:url(@Model.CarouselLst[0].ImageMin);">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1 ">
                            <img class="myslider" src="@Model.ImagesLst.Where(e=>e.Id==Model.CarouselLst[0].Image_Id).FirstOrDefault().ImagePath" alt="Chania">
                        </div>
                    </div>
                </div>
                <a href='@Url.Action("ShowCarousel", "Home", new { id = @Model.CarouselLst[0].Id }, null)'><p class="blackWraping">@Model.CarouselLst[0].Title</p></a>
            </div>
        </div>

        <div class="item">
            <div class="backGr" style="background-image:url(@Model.CarouselLst[1].ImageMin);">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <img class="myslider" src="@Model.ImagesLst.Where(e=>e.Id==Model.CarouselLst[1].Image_Id).FirstOrDefault().ImagePath" alt="Chania">
                        </div>
                        <a href='@Url.Action("ShowCarousel", "Home", new { id = @Model.CarouselLst[1].Id }, null)'><p class="blackWraping">@Model.CarouselLst[1].Title</p></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="backGr" style="background-image:url(@Model.CarouselLst[2].ImageMin);">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <img class="myslider" src="@Model.ImagesLst.Where(e=>e.Id==Model.CarouselLst[2].Image_Id).FirstOrDefault().ImagePath" alt="Chania">
                        </div>
                    </div>
                </div>
                <a href='@Url.Action("ShowCarousel", "Home", new { id = @Model.CarouselLst[2].Id }, null)'><p class="blackWraping">@Model.CarouselLst[2].Title</p></a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="stripe"> НАШИ НОВОСТИ</div>
<div class="decorator"></div>
<div class="clear"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 ">
            <div class="col-lg-6">
                <h3>Последние новости:</h3>
                @foreach (var news in Model.NewsLst)
                {
                    <div class="row">
                        <a href='@Url.Action("ShowNews", "News", new { id = news.Id }, null)' class="newsBlock">@news.Title</a>
                        <p class="date">@news.Day @news.Month @news.Year</p>
                    </div>
                    <br />


                }

            </div>
            <div class="col-lg-6">
                <h3>Новости из соцсетей:</h3>
                @foreach (var face in Model.FaceBookLst)
                {
                    <div>
                        <div class="photo">
                            <img class="profile" src="@Model.ImagesLst.Where(e=>e.Id==face.Image_Id).FirstOrDefault().ImagePath" />

                        </div>
                        <div class="faceBook">
                            <a class="fbName" href="@face.PersonLink" target="_blank">
                                <img class="icon" src="https://cdn.techinasia.com/wp-content/uploads/2009/07/button-facebook.png" />
                                <p class="fbName">
                                    @face.PersonName
                                </p>
                                <p class="fbdate">
                                    @face.Date
                                </p>
                            </a>
                            <div class="clear"></div>
                            <div class="post">
                                @face.FBPost
                            </div>
                        </div>
                        <div class="clear"></div>
                        @if (User.IsInRole("Administrator"))
                        {
                            <a class="btn btn-default" href='@Url.Action("DeleteFB", "Home", new { id = @face.Id }, null)'>Удалить пост</a>
                        }
                    </div><br />
                }
            </div>
        </div>
    </div>
</div>


<hr>
<div class="stripe">ВИДЕО</div>
<div class="decorator"></div>
<div class="clear"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 ">
            <div class="row videoBlock">
                <div class="slider">
                    <input type="radio" name="slider" checked="checked" class="slider__nav" />
                    <input type="radio" name="slider" class="slider__nav" />
                    <input type="radio" name="slider" class="slider__nav" />
                    <input type="radio" name="slider" class="slider__nav" />
                    <div class="slider__inner">
                        @for (var vid = Model.VideoLst.Count() - 1; vid > Model.VideoLst.Count() - 5; vid--)
                        {
                            <div id="@Model.VideoLst[vid].Id" style="margin-left:30px;" class="col-sm-7 video-el">
                                @Html.Raw(@Model.VideoLst[vid].VideoFile)
                            </div>
                            <div class="col-sm-4 video-el">
                                @Model.VideoLst[vid].Text
                            </div>
                        }
                    </div>
                </div>
            </div>
            <p class="center-el text-size"><a asp-controller="Video" asp-action="Index">ВСЕ ВИДЕО</a></p>

        </div>
    </div>
</div>
<hr>
<div class="stripe">НАШИ ПРОЕКТЫ</div>
<div class="decorator"></div>
<div class="clear"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 ">
            <div class="row">
                <br />

                @for (var i = Model.ProjectsLst.Count() - 1; i >= Model.ProjectsLst.Count() - 3; i--)
                {
                    <div class="col-lg-4 projects">
                        <a href='@Url.Action("ShowArtice", "Projects", new { id = @Model.ProjectsLst[i].Id }, null)'>
                            <img class="projImg"
                                 src="@Model.ImagesLst.Where(e=>e.Id==Model.ProjectsLst[i].Image_Id).FirstOrDefault().ImagePath" />
                        </a>
                        <a href='@Url.Action("ShowArtice", "Projects", new { id = @Model.ProjectsLst[i].Id }, null)' style="width:325px; margin-top:10px;">@Model.ProjectsLst[i].Title</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('iframe').attr('width', '600');
            $('iframe').attr('height', '350');
        });
        
    </script>

}
