@model WebApp.ViewModels.StartPageViewModel

@{
    ViewData["Title"] = "Новости";
}

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>
    .title {
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
    }
    body {
        font-family: 'Roboto', sans-serif;
    }
   

    .title:hover {
        cursor: pointer;
        color: slategrey;
    }

    #preview {
        max-height: 150px;
        min-height: 150px;
        max-width: 220px;
        min-width: 220px;
    }

    img {
        background-size: contain;
        background-size: cover;
        width: 500px;
        height: 300px;
    }

    .newsblock {
        margin-top: 20px;
        background: rgb(245, 246, 247);
        text-align: center;
        max-width: 650px;
        box-shadow: 0 0 5px #808080;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 ">
            <h2>Новости союза</h2>
            <div class="col-lg-8 newsblock">
                @if (Model.IndexViewModel.News.Count() > 0)
                {
                    @foreach (var i in Model.IndexViewModel.News)
                    {
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                <a href='@Url.Action("ShowNews", "News", new { id = i.Id }, null)'><img style="margin-bottom:10px;" src="@Model.ImagesLst.Where(e => e.Id == i.Image_Id).FirstOrDefault().ImagePath" /></a>
                                <div class="clear"></div>
                                <a href='@Url.Action("ShowNews", "News", new { id = i.Id }, null)' class="title">@i.Title</a>
                                <br />
                                @if (User.IsInRole("Administrator"))
                                {
                                    <a class="btn btn-default" href='@Url.Action("DeleteNews", "News", new { id = @i.Id }, null)'>Удалить новость</a>
                                }
                            </div>
                        </div>
                        <br />
                        <hr />
                    }
                }
                @if (Model.IndexViewModel.NewsPageInfo.HasPreviousPage)
                {
                    <a asp-action="News"
                       asp-route-page="@(Model.IndexViewModel.NewsPageInfo.PageNumber - 1)"
                       class="btn btn-default btn">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                    </a>
                }
                @if (Model.IndexViewModel.NewsPageInfo.HasNextPage)
                {
                    <a asp-action="News"
                       asp-route-page="@(Model.IndexViewModel.NewsPageInfo.PageNumber + 1)"
                       class="btn btn-default btn">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                }
            </div>
        </div>
    </div>
</div>


