@model WebApp.ViewModels.StartPageViewModel
@{
    ViewData["Title"] = "Проекты";
}
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>

    body {
        margin: 0% auto !important;
        padding: 0% !important;
        background: none;
        font-family: 'Roboto', sans-serif;
    }

    #preview {
        max-height: 150px;
        min-height: 150px;
        max-width: 220px;
        min-width: 220px;
    }



    li {
        list-style-type: none;
    }

    .date {
        color: #414141;
        font-size: 16px;
    }

    .stripe {
        width: 33%;
        height: 30px;
        background-color: rgba(41, 79, 209, 0.70);
        float: left;
        margin-right: 80px;
        margin-bottom: 30px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-align: right;
        font-weight: 500;
        letter-spacing: 3px;
    }

    .decorator {
        width: 35%;
        height: 30px;
        border-top: 30px solid rgb(41, 79, 209);
        border-right: 15px solid transparent;
    }

    .container-fluid {
        margin: 0% auto;
        padding: 0%;
    }

    img {
        background-size: cover;
    }

    .clear {
        clear: both;
    }

    .projImg {
        width: 270px;
        height: 200px;
    }

    .projects {
        height: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 300;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        padding-top: 40px;
        text-align: center;
    }

    .backGr {
        box-shadow: -5px 0 5px -5px #333, 5px 0 5px -5px #333;
    }

    #proj-text {
        margin-top: 13px;
        cursor: pointer;
    }

        #proj-text:hover {
        }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 backGr">
            <div class="row">
                <h2 class="col-lg-12">Проекты</h2>
            </div>
            <hr />
            <br />
            @foreach (var proj in Model.IndexViewModel.Projects)
            {
                <div class="col-lg-4 projects">
                    <a href='@Url.Action("ShowArtice", "Projects", new { id = @proj.Id }, null)'>
                        <img class="projImg"
                             src="@Model.ImagesLst.Where(e=>e.Id==proj.Image_Id).FirstOrDefault().ImagePath" />
                    </a>
                    <a href='@Url.Action("ShowArtice", "Projects", new { id = @proj.Id }, null)'><p id="proj-text">@proj.Title</p></a>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a class="btn btn-default" href='@Url.Action("DeleteProject", "Projects", new { id = @proj.Id }, null)'>Удалить проект</a>
                    }
                </div>
            }
            <div class="clear"></div>
            @if (Model.IndexViewModel.ProjectsPageInfo.HasPreviousPage)
            {
                <a asp-action="Index"
                   asp-route-page="@(Model.IndexViewModel.ProjectsPageInfo.PageNumber - 1)"
                   class="btn btn-block">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </a>
            }
            @if (Model.IndexViewModel.ProjectsPageInfo.HasNextPage)
            {
                <a asp-action="Index"
                   asp-route-page="@(Model.IndexViewModel.ProjectsPageInfo.PageNumber + 1)"
                   class="btn btn-block">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function ch(id) {
            obj = new Object();
            obj.id = id;

            $.ajax({
                type: "POST",
                url: "/Projects/ShowArtice",
                data: obj,
                success: function (data) {
                    location.replace("/Projects/ShowArtice");
                }
            });
        };

    </script>
}