@model WebApp.ViewModels.StartPageViewModel
@{
    ViewData["Title"] = "Проекты";
}

<style>
    body {
        margin: 0% auto !important;
        padding: 0% !important;
        background: none;
    }

    .eo-date .eo-date__day {
        font-size: 18px;
        font-weight: 700;
    }

    .eo-date .eo-date__month {
        font-size: 11px;
        text-transform: uppercase;
    }

    .eo-date {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        background: #eee;
        text-align: center;
        width: 50px;
        height: 50px;
        color: #888;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -ms-grid-column-align: center;
        justify-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 4px;
    }

    .modalDialog, .modalDialog2 {
        position: fixed;
        font-family: 'Roboto', sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        display: none;
        pointer-events: none;
        max-height: 100%;
        overflow-y: auto;
    }

        .modalDialog:target, .modalDialog2:target {
            display: block;
            pointer-events: auto;
        }

        .modalDialog > div, .modalDialog2 > div {
            width: 600px;
            position: relative;
            margin: 10% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: #fff;
            background: -moz-linear-gradient(#fff, #999);
            background: -webkit-linear-gradient(#fff, #999);
            background: -o-linear-gradient(#fff, #999);
        }

    .close, .close2 {
        background: #ff0000;
        color: #fff;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

        .close:hover, .close2:hover {
            background: #00d9ff;
        }

    .section:hover {
        cursor: pointer;
        color: slategrey;
    }

    .title:hover {
        cursor: pointer;
        color: slategrey;
    }

    #preview {
        max-height: 150px;
        min-height: 150px;
        max-width: 220px;
        min-width: 220px;
    }



    li {
        list-style-type: none;
    }

    .date {
        color: #414141;
        font-size: 16px;
    }

    hr {
        margin-top: 30px;
        margin-bottom: 0%;
        border: 1.5px solid #eeeeef;
    }

    .stripe {
        width: 33%;
        height: 30px;
        background-color: rgba(41, 79, 209, 0.70);
        float: left;
        margin-right: 80px;
        margin-bottom: 30px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-align: right;
        font-weight: 500;
        letter-spacing: 3px;
    }

    .decorator {
        width: 35%;
        height: 30px;
        border-top: 30px solid rgb(41, 79, 209);
        border-right: 15px solid transparent;
    }

    .container-fluid {
        margin: 0% auto;
        padding: 0%;
    }

    img {
        background-size: cover;
    }

    .clear {
        clear: both;
    }

    .projImg {
        width: 312px;
        height: 200px;
    }

    .projects {
        height: 400px;
        overflow: auto;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
    }

    #proj-text {
        margin-top: 13px;
        cursor: pointer;
    }

        #proj-text:hover {
        }
</style>


<div class="container">
    <div class="row">
        <h2>Проекты</h2>
        <div class="col-lg-11">
            <div class="row">
                <br />
                @foreach (var proj in Model.IndexViewModel.Projects)
                {
                    <div class="col-lg-4 projects">
                        <a href='@Url.Action("ShowArtice", "Projects", new { id = @proj.Id }, null)'>
                            <img class="projImg"
                                 src="@Model.ImagesLst.Where(e=>e.Id==proj.Image_Id).FirstOrDefault().ImagePath" />
                        </a>

                        <a href='@Url.Action("ShowArtice", "Projects", new { id = @proj.Id }, null)'><p id="proj-text">@proj.Title</p></a>
                        @if (User.IsInRole("Administrator"))
                        {
                            <a class="btn btn-default" href='@Url.Action("DeleteProject", "Projects", new { id = @proj.Id }, null)'>Удалить проект</a>
                        }
                    </div>
                }
                <div class="clear"></div>
                @if (Model.IndexViewModel.ProjectsPageInfo.HasPreviousPage)
                {
                    <a asp-action="Index"
                       asp-route-page="@(Model.IndexViewModel.ProjectsPageInfo.PageNumber - 1)"
                       class="btn btn-default btn">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                    </a>
                }
                @if (Model.IndexViewModel.ProjectsPageInfo.HasNextPage)
                {
                    <a asp-action="Index"
                       asp-route-page="@(Model.IndexViewModel.ProjectsPageInfo.PageNumber + 1)"
                       class="btn btn-default btn">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                }
            </div>
        </div>
        <div class="col-lg-1">
            @if (User.IsInRole("Administrator"))
            {
                <a href="#openModal2" class="btn btn-default" style="margin-top:30px;">Добавить проект</a>
                <div id="openModal2" class="modalDialog2">
                    <div>
                        <a href="#close" title="Закрыть" class="close2">X</a>
                        <form name="UploadProjects" method="post" enctype="multipart/form-data" asp-controller="Projects" asp-action="Post">
                            <div class="form-group">
                                <br />
                                <label for="file">фото профиля</label>
                                <input type='file' name="file" multiple onchange="readURL2(this);" />
                                <img id="preview2" src="http://www.adbazar.pk/frontend/images/default-image.jpg" alt="your image" />
                                <div></div>
                                <hr>
                            </div>
                            <div class="form-group">
                                <label for="Title">Заголовок</label>
                                <textarea cols="30" rows="5" name="Title"></textarea>
                                <label for="Text">Текст</label>
                                <textarea name="Text" id="MCE"></textarea>
                                <div></div>
                            </div>
                            <input type="submit" value="Опубликовать" />
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts{

    <script>
        tinymce.init({
            selector: '#MCE',
            plugins: [
                'advlist autolink list link image charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                'insertdatetime media nonbreaking save table contextmenu directionality',
                'emoticons template paste textcolor colorpicker textpattern imagetools image'
            ],
            toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image" | "image",
            toolbar2: 'print preview media | forecolor backcolor emotions | code',
            image_title: true,
            automatic_uploads: true,
            file_picker_types: 'image',
            file_picker_callback: function (cb, value, meta) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');
                input.setAttribute('name', 'files');
                input.onchange = function () {
                    var file = this.files[0];

                    var reader = new FileReader();

                    reader.onload = function () {
                        var dataUrl = reader.result;
                        var base64 = dataUrl.split(',')[1];
                        var id = 'blobid' + (new Date()).getTime();
                        var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                        var blobInfo = blobCache.create(id, file, base64);
                        blobCache.add(blobInfo);
                        cb(blobInfo.blobUri(), { title: file.name });
                    };
                    reader.readAsDataURL(file);
                };
                input.click();
            }
        });

        function ch(id) {
            obj = new Object();
            obj.id = id;

            $.ajax({
                type: "POST",
                url: "/Projects/ShowArtice",
                data: obj,
                success: function (data) {
                    location.replace("/Projects/ShowArtice");
                }
            });
        };

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#preview')
                        .attr('src', e.target.result)
                        .width(180)
                        .height(100);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        function readURL2(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#preview2')
                        .attr('src', e.target.result)
                        .width(180)
                        .height(100);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        $('.submit-btn').click(function () {
            alert('новость успешно добавлена');
            var obj = new Object();
            obj.
                $.ajax({
                    type: "POST",
                    url: "/AddNews/AddArticle",
                    data: obj,
                    success: function (data) {
                        location.reload();
                    }
                });
        });
    </script>

}