@model WebApp.ViewModels.StartPageViewModel
@{
    ViewData["Title"] = "Index";
}
<style>
    .newsblock {
        text-align: start;
        box-shadow: -5px 0 5px -5px #333, 5px 0 5px -5px #333;
    }

    .container {
        margin-top: 0%;
        padding-top: 0%;
    }

    .date {
        color: #999;
        font-weight: 300;
        font-size: 14px;
    }

    body {
        font-family: 'Roboto', sans-serif;
    }

    .media-name {
        color: #999;
        font-size: 13px;
    }

    .block {
        background: rgb(250, 252, 255);
        border: 1px solid #eeeeef;
    }

    .article-block {
        background: rgb(250, 252, 255);
        text-align: start;
        padding: 10px;
        border: 1px solid #eeeeef;
        box-shadow: 2px 0 2px 1px rgba(53, 142, 165, 0.60);
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 newsblock">
            <div class="row">
                <br />
                <h2 class="col-lg-11 col-lg-offset-1">СМИ о нас</h2>
            </div>
            <hr />
            <br />
            <div class="col-lg-10 col-lg-offset-1">
                @try
                {
                    @if (Model.IndexViewModel.Media.Count() > 0)
                    {
                        @foreach (var media in Model.IndexViewModel.Media)
                        {
                            <div class="article-block">
                                <p class="date">@media.Day @media.Month @media.Year</p>
                                <a href="@media.MediaName">@media.Text</a><br />
                                <br />
                                <a class="media-name" href="@media.MediaName">@media.Name</a>

                            </div>
                            <br />
                        }
                    }
                    @if (Model.IndexViewModel.MediaPageInfo.HasPreviousPage)
                    {
                        <a asp-action="Index"
                           asp-route-page="@(Model.IndexViewModel.MediaPageInfo.PageNumber - 1)"
                           class="btn btn-block">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                        </a>
                    }
                    @if (Model.IndexViewModel.MediaPageInfo.HasNextPage)
                    {
                        <a asp-action="Index"
                           asp-route-page="@(Model.IndexViewModel.MediaPageInfo.PageNumber + 1)"
                           class="btn btn-block">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </a>
                    }

                }
                    catch (Exception ex)
                    {


                    }
                </div>
            </div>
        </div>
    </div>